/*HELE SITE*/

html {
    font-family: Open sans, Segoe UI, Myriad, Verdana, sans-serif;
}

body {
    background-color: rgba(155, 155, 155, 0.3);
    color: #003082;
    text-align: center;
    margin: 0em;
    padding: 0em;
}


/*NAVIGATIE BALK BOVENIN SCHERM*/

nav ul {
    background-color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#logo {
    width: 40px;
    position: relative;
    margin: inherit;
}

nav ul li:nth-of-type(2) {
    margin-left: auto;
    padding: 0 1.5em;
    transition: all .2s;
}

nav ul li:nth-of-type(2):hover {
    left: .25em;
}

nav ul li:nth-of-type(3) {
    margin-right: 1.5em;
}



/*INTRO BOVENIN SCHERM */

#intro {
    background-image: url(https://www.ns.nl/binaries/_ht_1448442434385/large/content/gallery/ns-nl/thema-hero-afbeeldingen/thema_reizen-met-een-ov-chipkaart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100% 50%;
    text-align: left;
}

#layer {
    background-color: rgba(51, 51, 153, 0.85);
    width: 65%;
    margin: auto;
    padding: 1.5em 1.5em;
}


/* TITELS */

h1,
h3,
h5,
h8 {
    font-size: 1.578rem;
    margin-bottom: 0;
    font-weight: 400;
    padding: 0.1em;
    line-height: 0.2em;
}

h2,
h4,
h6,
h9,
h10 {
    font-size: 1.15rem;
    font-weight: 400;
    padding: -1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


/*INFORMATIE IN DE ARTIKELEN */

a {
    color: #003082;
    text-decoration: none;
    font-size: 1.15em;
    padding: -1.5em;
    margin: 0.5em;
}

p {
    margin-bottom: 0.2em;
}

article p:nth-of-type(2) {
    margin-bottom: 2em;
    font-size: 0.65em;
}

button {
    margin-bottom: 1.5em;
    padding: 0.8em;
    background-color: rgb(0, 102, 204);
    border: none;
    width: 100px;
    color: white;
    border-bottom: solid #003082;
    transition: all.2s;
}

button:hover {
    background-color: #003399;
    transition: all.2s;
}

#foto {
    width: 20em;
    max-height: height: 12em;


}

select {
    color: #003082;
    background: rgb(255, 204, 0);
    border: none;
    border-bottom: solid rgb(204, 153, 102);
    padding: 0.5em;
    float: center;
    margin-bottom: 0em;
    margin-top: 1.5em;
    padding: 0.8em;
    transition: all.2s linear;
}

select:hover {
    background-color: rgb(183, 156, 82);
}



/*OPMAAK VAN DE RUIMTE IN DE ARTIKELEN */

article {
    border-bottom: solid rgb(153, 153, 153);
    margin: 2em;
    background-color: white;
    width: 20em;
}

a article {
    margin: 1em;
}

option {
    background-color: white;
    border: none;
    border-bottom: solid rgb(255, 204, 0);
}


/*OPMAAK FORMULIER OP INLOGPAGINA */

fieldset {
    border: none;
    margin: 2em 1em 0 1em;
    display: flex;
    text-align: left;
}

legend {
    font-size: 1.578rem;

}

form[action=get] {
    background-color: rgb(255, 204, 0);
    padding: 0.5em 0em 5em 0;
    margin: 2em;
}

form a {
    font-size: 0.75rem;
    border-bottom: solid rgba(153, 153, 153, 0.7);
    border-bottom-width: thin;
    float: left;
    margin: 0em 1em 1em 2.3em;
    padding: 0 0 0.7em 0;
    transition: all .05s;
}

form a:hover {
    border-color: blue;
    border-bottom-width: thick;
}

form p {
    padding: 1em 1em 1em 0;
}

input[type=submit] {
    margin: 1.7em 0em 1.7em 0;
    padding: 0.8em;
    background-color: rgb(0, 102, 204);
    border: none;
    width: 100px;
    color: white;
    border-bottom: solid #003082;

}

input[type=submit]:hover {
    background-color: #003399;
    transition: all.2s;
}

input[type=text] {
    width: 97%;
    border: none;
    height: 3em;
    margin: 1em 0.5em 1em 0;
    padding-left: 1em
}

#welkom {
    padding: 1em 1em 0.5em 0;
}

#alle1,
#bundels {
    display: flex;
    overflow-x: scroll;
}
