/*HELE SITE*/

html {
    font-family: Open sans, Segoe UI, Myriad, Verdana, sans-serif;
}

body {
    background-color: rgba(155, 155, 155, 0.3);
    color: #003082;
    text-align: center;
}


/*NAVIGATIE BALK BOVENIN SCHERM*/

nav ul {
    background-color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#logo {
    width: 40px;
    position: relative;
}

nav ul li:nth-of-type(2) {
    margin-left: auto;
    padding: 0 1.5em;
}


/*INTRO BOVENIN SCHERM */

#intro {
    background-image: url(https://www.ns.nl/binaries/_ht_1448442434385/large/content/gallery/ns-nl/thema-hero-afbeeldingen/thema_reizen-met-een-ov-chipkaart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100% 50%;
    text-align: left;
}

#layer {
    background-color: rgba(51, 51, 153, 0.85);
    width: 65%;
    margin: auto;
    padding: 1.5em 1.5em;
}


/* TITELS */

h1,
h3,
h5,
h8 {
    font-size: 1.578rem;
    margin-bottom: -0.2em;
    padding: 1em 0;
    line-height: 0.2em;
}

h2,
h4,
h6,
h9,
h10 {
    font-size: 1.15rem;
    padding: -1.5em;
    margin: 0.5em;
}


/*INFORMATIE IN DE ARTIKELEN */

a {
    color: #003082;
    text-decoration: none;
}

p {
    margin-bottom: 0.2em;
}

footer {
    margin-bottom: 2em;
    font-size: 0.65em;
}

button {
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color: rgb(0, 102, 204);
    border: none;
    width: 100px;
    color: white;
    border-bottom: solid #003082;
}

#foto {
    width: 100%;
    max-width: 20em;
}

select {
    color: #003082;
    margin: 1em;
    background: rgb(255, 204, 0);
    border: none;
    border-bottom: solid rgb(204, 153, 102);
    padding: 0.5em;
    float: center;
    margin-bottom: 1.5em;
    margin-top: 0;
}



/*OPMAAK VAN DE RUIMTE IN DE ARTIKELEN */

#uitgelicht,
#alle1,
#bundels {
    background-color: white;
    border-bottom: solid rgb(153, 153, 153);
    margin: auto;
    width: 95%;
    max-width: 20em;
}
